body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f8f8f8;
    padding: 1rem;
}

.container {
    text-align: center;
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}

.input-section {
    margin-bottom: 1rem;
}

.input-section label {
    display: block;
    margin: 0.5rem 0 0.2rem;
}

.input-section input {
    width: calc(100% / 3 - 1rem);
    padding: 0.5rem;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#calculate-btn {
    padding: 0;
    width: 60px; /* Adjust the width to desired button size */
    height: 60px; /* Make height equal to width */
    border: none;
    background-color: #6200ee;
    color: white;
    border-radius: 50%; /* Makes the button round */
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.5rem;
    margin-left: auto; /* Centers the button horizontally */
    margin-right: auto; /* Centers the button horizontally */
}

#calculate-btn svg {
    width: 30px;
    height: 30px;
    fill: none;
    stroke: #FFF;
    stroke-width: 2;
}

#calculate-btn:hover {
    background-color: #3700b3;
}

.output-section {
    font-size: 1.5rem;
}

.error-message {
    color: red;
    margin-top: 1rem;
}

@media (min-width: 600px) {
    .input-section input {
        width: calc(33.33% - 1rem);
        margin-bottom: 0;
    }
}
